img {
  width: 200px;
  align-self: center;
}

#headerH1Elem {
  text-align: center;
}

h2{
  text-align: center;
}

#mainDivElem {
  display: flex;
  justify-content: space-around;
}

.cardDivElems {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border: thin solid black
}

p {
  width: 200px;
  padding: 5px;
}

#footerPElem {
  margin: 20px auto;
}